<html>
<head>

    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-7CPFCX83C9"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-7CPFCX83C9');
</script>

</head>
<body>

    <br><br>

    <a href="https://www.google.com">placeholder</a>
    <br><br>

    <a href="https://www.aigonewrong.com/find-my-clones">find-my-clones</a>
    <br><br>
    contact: @aigonewrong

</body>
</html>