monai==1.5.1
torch==2.6.0+cu126
matplotlib>=3.10.7
pytorch-ignite>=0.4.11
itk>=5.4.0
nibabel>=5.2.1
scikit-image>=0.25.2
scipy>=1.14.0
pillow>=10.4.0
tensorboard>=2.20.0
gdown>=5.2.0
torchvision>=0.20.0
tqdm>=4.67.1
pandas>=2.2.2
einops>=0.8.0
lmdb>=1.5.1
psutil>=6.0.0
transformers>=4.40.2
mlflow>=2.16.2
pynrrd>=1.0.0
clearml>=1.16.5rc0